:host {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 48px;
    height: 48px;
}

.mic {
    position: relative;
    width: 48px;
    height: 48px;

    mat-progress-spinner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 48px;
        height: 48px;
    }
}

.recording {
    animation: breathing 2s ease-out infinite normal;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.3);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}
