.multiple-choice-container {
    display: inline-grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 16px;
}

.answer-choices {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    height: 100px;
    display: flex;
    justify-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    place-items: center;
    transition:
        transform 0.4s ease,
        background-color 0.3s,
        box-shadow 0.3s;

    &.clicked {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        cursor: not-allowed;
        box-shadow: none;
    }

    &:hover {
        opacity: 0.9;
    }
}

.container {
    display: flex;
    justify-content: center;
}
