* {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: row;
    min-width: 410px;
    margin-bottom: 5px;
    width: 100%;
}

form {
    width: 100%;
}

mat-expansion-panel {
    height: fit-content;
    width: 100%;
}

mat-expansion-panel-header,
mat-expansion-panel-header.mat-expanded {
    height: fit-content;
    width: 100%;
}

.question-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: fit-content;
}

.question-number {
    font-size: 16px;
}

.add-response-button {
    display: block;
    margin: 0 auto;
}

.last-modification-label {
    text-align: right;
    font-size: x-small;
    font-weight: bold;
}

mat-panel-title {
    flex-grow: 4;
}

#question-field,
#question-name {
    margin-left: 5px;
    flex-grow: 1;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.buttons-container label {
    width: 160px;
}

.buttons-container mat-slider {
    width: 100%;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: fit-content;
}

.question-icon {
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
}

.estimation-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.estimation-row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    flex-wrap: wrap;
}

.slider-qre {
    flex: 1;
    max-width: 500px;
}

.slider-label {
    width: 120px;
}

.estimation-input {
    flex-grow: 1;
}

.min-max-input {
    display: flex;
    gap: 10px;
}

.min-max-input input {
    width: 50px;
}

.answer,
.precision {
    width: 120px;
}
