div {
    position: relative;
    width: 48px;
    height: 48px;

    mat-progress-spinner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 48px;
        height: 48px;
    }
}
