.thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    max-width: 60%;
    max-height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.image-container thumbnail {
    display: block;
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    display: inline-block;
}
