:host {
    width: 100%;
    display: flex;
    height: 100%;
}

.main-container {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
}

.exit-btn {
    float: left;
}

.result-title p {
    font-size: 32px;
}

.result-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 40px;
}

.result-prize {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
    }
}

.results-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.leaderboard-container {
    width: 520px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.stats-container {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
}

app-chat-box {
    right: 0;
    width: 30%;
    height: 100%;
    max-width: 350px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 6px;
}