.login-modal-card {
    width: 500px;
    box-sizing: border-box;
    padding: 16px;
}

.login-modal-title {
    padding-bottom: 16px;
}

.login-modal-footer {
    padding: 0 16px 16px 16px;
}

.login-modal-field,
.login-modal-connect-btn {
    width: 100%;
}
