$bonus-point-color: #2196f3;
$good-answer-color: #43a047;
$bad-answer-color: #ff3d00;
$middle-answer-color: #ffa500;
$eliminated-answer-color: grey;

.page-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validity-icon {
    font-size: 110px;
    display: block;
    width: 110px;
    height: 110px;
    margin: auto;
}

.points {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.points p {
    margin: 0;
}

.good-answer,
.good-answer-display {
    color: $good-answer-color;
}

.bad-answer,
.bad-answer-display {
    color: $bad-answer-color;
}

.bonus {
    color: $bonus-point-color;
}

.ok-button {
    background-color: $bad-answer-color;
    color: white;
    border: none;
    padding: 14px 50px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.ok-button.correct {
    background-color: $good-answer-color;
}

.ok-button.partial-correct {
    background-color: $middle-answer-color;
}

.percentage-background {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.good-answer-color {
    background-color: $good-answer-color;
}

.middle-answer-color {
    background-color: $middle-answer-color;
}

.bad-answer-color {
    background-color: $bad-answer-color;
}

.eliminated-answer-color {
    background-color: $eliminated-answer-color;
}
