mat-slider {
    width: 90%;
}

.brush-settings-overlay {
    width: 200px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    z-index: 1;
}
