@use '@angular/material' as mat;

//Styling structure inspired by https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s

:host {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host * {
    box-sizing: border-box;
}

.options {
    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.option-box {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 400px;
}
