.signup-modal-card {
    width: 500px;
    box-sizing: border-box;
    padding: 16px;
}

.signup-modal-title {
    padding-bottom: 16px;
}

.signup-modal-footer {
    padding: 0 16px 16px 16px;
}

.signup-modal-field,
.signup-modal-connect-btn {
    width: 100%;
}

.avatar-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: 20px;
}

.avatar-picker-container {
    width: 100px;
    height: 100px;
}

.signup-modal-field:has(.long-error-message) {
    padding-bottom: 20px;
}
