.active-game-title {
    text-align: left;
    margin-left: 10px;
}

.game-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 20px;
}

.game-list-container,
.game-list-container * {
    box-sizing: border-box;
}
.game-list-container{
    margin-left: 10px;
}

.game {
    width: 400px;
    transition: transform 200ms ease-out;
    backface-visibility: hidden;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game:hover {
    transition: transform 200ms ease-in;
    transform: scale(1.03) translateZ(0);
    backface-visibility: hidden;
    cursor: pointer;
}

.game-id {
    margin-bottom: 0;
}

.game-title {
    margin-top: 0;
}
