.answer {
    overflow-wrap: break-word;
}

h3 {
    padding: 10px;
}
.text-answer {
    width: 500px;
}

img.player-drawing {
    width: 750px;
    height: 500px;
    aspect-ratio: 3/2;
    border-radius: 10px;
}
