.game-bank-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 0px 10px 0px 5px;
    gap: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.btn-container button {
    border-radius: 20px;
}

.games-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
}

h3 {
    white-space:nowrap;
}