.participant-title {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

.participant-title > h2 {
    padding-left: 30px;
}

.participant-space {
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.participant {
    width: 250px;
    height: 60px;
    margin: 10px;
    margin-top: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    margin-top: 5px;
    gap: 8px;
}


.has-left {
    text-decoration: line-through;
}

.player-avatar-container {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
  
}

.player-avatar {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.player-username {
    font-size: large;
}

.name-container{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}