.whiteboard-controls > button {
    margin: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.whiteboard-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.whiteboard-controls {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem;
    border-radius: 28px;
    margin-right: 12px;
}

input[type='color'] {
    border-radius: 50%;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

.menu_button {
    position: fixed;
    z-index: 4;
    font-size: 2rem;
    top: 0;
    right: 0;
}

.color-palette {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.color-palette__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.pointer_cursor {
    cursor: pointer;
}

.default_cursor {
    cursor: default;
}

.tools-divider {
    border: 1px solid #c7c7c782;
    margin: 0.5rem;
    width: 100%;
}

.primary_border {
    border: 2px solid #673ab7;
}

.no_border {
    border: 0;
}

svg {
    height: 24px;
}

#container {
    border-radius: 4px;
}

.color-picker-input {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: none;
    padding: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.color-picker-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-picker-input::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}
