img {
    width: 10vh;
    height: 10vh;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 0.5vh;
    justify-content: flex-end;
    height: 100% !important;
    min-height: 100% !important;
    
    align-items: center;
    margin: 5px 10px 5px;
}

@mixin bordered($color) {
    border-radius: 12px;
    border: 2px solid $color;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.border {
    @include bordered(#000000);
}
.owned-border {
    @include bordered(rgba(0, 0, 0, 0.5));
    filter: saturate(0);
}

.item-display-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100% - 7vh);
    background-color: lightgray;
    border-radius: 0px 0px 10px 10px;
}

mat-toolbar {
    width: 100%;
    height: 7vh;
    box-shadow: 1px 0 13px rgba(0, 0, 0, 0.5);
}

button {
    width: 80px;
    height: fit-content !important;
}
button:hover {
    size: 1.3 !important;
}
.mat-mdc-raised-button .mat-mdc-button-base {
    width: fit-content;
    height: fit-content;
}

.title {
    font-size: 15px;
    text-align: center;
    margin: 8px 0;
    font-weight: bold;
}

.title.power-up{
    font-size: 22px;
}

.description {
    font-size: 15px;
    width: 220px;
    text-align: center;
    margin: 10px 0;
    min-height: 80px;
    align-items: center;
    display: flex;
}

.buy-vanity-button {
    margin: 10px 0;
}
